{% extends 'admin/admin_base.html' %}
{% load widget_tweaks %}
<!DOCTYPE html>
{% block content %}
{% if request.user.is_staff %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Productos</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Tabla productos</li>
            </ol>
            <div class="row">

            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Agregar Producto
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">

                        <!-- Security token -->
                        {% csrf_token %}

                            <div class="form-group pt-3">
                                <label>Nombre del producto</label>
                                {% render_field form.title class="form-control" placeholder="Ingresar nombre del producto" %}
                            </div>

                        <div class="form-group pt-3">
                            <label>Código del producto</label>
                            {% render_field form.slug class="form-control" placeholder="Ingresar código" %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Subir Imagen</label>
                            {% render_field form.image class="form-control" %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Descripción del producto</label>
                            {% render_field form.description class="form-control" placeholder="Ingresar descripción" %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Precio del producto</label>
                            {% render_field form.price class="form-control" placeholder="Ingresar precio" %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Cantidad</label>
                            {% render_field form.stock class="form-control"  %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Activar/Desactivar</label>
                            {% render_field form.active  %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Categoría</label>
                            {% render_field form.primary_category class="form-control"  %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Proveedor</label>
                            {% render_field form.proveedor class="form-control" %}
                        </div>
                        <div class="form-group pt-3">
                            <label>Otras Categorias</label>
                            {% render_field form.secondary_categories class="form-control" %}
                        </div>
                        <div class="pt-3 text-center">
                            <input type="submit" value="Agregar" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    </body>
    </html>
    {% endif %}
{% endblock content %}