{% extends 'admin/admin_base.html' %}

<!DOCTYPE html>
{% block content %}
{% if request.user.is_staff %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Total de clientes: {{ customercount }}</div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Total de Productos: {{ productocount }}</div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Total de Proveedores: {{ proveedorescount }}</div>

                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Totla de Categorías: {{ categoriacount }}</div>

                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Ordenes realizadas
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>

                            <th scope="col text-center">ID orden</th>
                            <th scope="col">fecha Creacion</th>
                            <th scope="col">Movil Cliente</th>
                            <th scope="col">Dirección de envio</th>
                              <th scope="col">Estado</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for product,ordenes, order in data %}
                            <tr>

                                {% for c in ordenes %}

                                    <td> {{ c.id }}</td>
                                    <td> {{ c.start_date }}</td>
                                    <td>{{ c.get_name }}</td>
                                    <td>{{ c.shipping_address }}

                                    </td>
                                    <td>{%  if c.ordered == True%}
                                        confirmado
                                    {%  elif c.ordered == False %}
                                        en proceso
                                    {%  endif %}
                                    </td>
                                {% endfor %}
                                {% for p in product %}
                                    <td> {{ p.title }}</td>
                                    <td> S/. {{ p.get_price }}</td>
                                    <td>
                                        <img src="{{ p.image.url }}" class="img-fluid" height="60px"
                                             width="60px"></a>
                                    </td>

                                {% endfor %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    </body>
    </html>
    {% endif %}
{% endblock content %}