{% extends 'admin/admin_base.html' %}

<!DOCTYPE html>
{% block content %}
{% if request.user.is_staff %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Categoría</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Tabla categorías</li>
            </ol>
            <div class="row">

            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Categorias en el sistema
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">nombre</th>
                            <th scope="col">opción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in object_list %}
                            <tr>
                                <td>{{ p.id }}</td>
                                <td>{{ p.name }}</td>


                                <td><a class="btn btn-outline-primary" href="{% url 'admin_actualizar_categorias' p.id %}"><i
                                        class="fas fa-sync"></i></a>
                                    <a href="{% url 'admin_eliminar_categorias' p.id %}" class="btn btn-outline-danger"> <i class="far fa-trash-alt"></i></a>
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    </body>
    </html>
    {% endif %}
{% endblock content %}